body {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.footer {
  float: left;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #DDD;
  color: #333;
  text-align: center;
  padding: 20px;
}
input:active {
    outline:none;
}
input[type=number] {
    padding:10px;
    border:1;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius:10px;
    width: 100px;
}
.btn-group button {
  outline:none;
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  margin-top: 10px;
  margin-right: 22px;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #5edb62;
  color: #333;
}
textarea {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.slidecontainer {
  width: 200px; /* Width of the outside container */
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderwide {
  -webkit-appearance: none;
  width: 400px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.sliderheader {
    margin: 10px;
}
strong {
    font-size: 150%;
    font-family: monospace;
}
.btn {
  background-color: #DDD; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 6px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 100%;
}

.clipboardbutton {
  background-color: #7177c7 !important;/* Blue background */
}

.clipboardbutton:hover {
  background-color: #9198f2 !important;/* Blue background */
}

.addbtn {
  margin: 20px;
  float: right;
  background-color: #7177c7; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 6px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 10%;
  font-size: 20px;
}
.addbtn:hover {
  background-color: #9198f2;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #AAA;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */

  padding: 20px;
  padding-bottom: 30px;
  border: 1px solid #888;
  width: 880px; /* Could be more or less, depending on screen size */
}

.modal-body {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 150%;
  background-color: #fefefe;
  padding: 20px;
  padding-right: 1px;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modalClose {
  color: #DDD;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: #AAA;
  text-decoration: none;
  cursor: pointer;
}
/* The Close Button */
.modalOk {
  color: #629632;
  font-size: 28px;
  font-weight: bold;
  float: right;
  margin-top: 10px;
}

.modalOk:hover,
.modalOk:focus {
  color: #6A8455;
  text-decoration: none;
  cursor: pointer;
}
.assetTable table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse:
    collapse; border-spacing: 0;
    overflow: auto;
}

.assetTable td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

.assetTable th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
    text-align: left
}

.assetTable td {
    background: #FAFAFA;
}

/* Cells in even rows (2,4,6...) are one color */
.assetTable tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
.assetTable tr:nth-child(odd) td { background: #FEFEFE; }
.row {
  display: flex;
  margin: 20px;
}

.output {
    width: 400px;
    height: 500px;
    overflow: auto;
    background: #DDD;
    margin-left: 40px;
    border: 1px solid black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 270px;
  background-color: #DDD;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  margin-bottom: 5px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
